/* Default styles for cards */
.card-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 1);
  margin-bottom: 20px;
  flex-grow: 1;
}

/* Media Query for Tablet */
@media (min-width: 768px) {
  .card {
    width: calc(100% / 2);
  }
}

/* Media Query for Desktop */
@media (min-width: 1200px) {
  .card {
    width: calc(100% / 3);
  }
}

/* Last card in Tablet mode takes full width */
@media (min-width: 768px) and (max-width: 1199px) {
  .card:last-child {
    width: 100%;
  }
}